*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.recipe-img-title{
    display: flex;
    gap: 2rem;
    box-shadow: 1px 1px 5px black;
    width: 40vw;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
}
.recipe-img-title img{
    width: 10rem;
}
.title{
    font-size: 20px;
    font-weight: bold;
    line-height: 3rem;
    color: rgb(103, 31, 8);
}
.remove-btn{
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 3rem;
    background-color: transparent;
    /* color: white; */
    border-radius: 5px;
    margin-top: 2rem;
    font-weight: bold;
    position: relative;
    left: 12rem;
}
.remove-btn:hover{
    color: red;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(233, 233, 233);
}
.navbar .right-side{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 20%;
    /* background-color: #e67e22; */
}
.addRecipes{
    color: blue;
    text-decoration: underline;
    font-size: 2rem;
}
footer{
    margin-top: 2rem;
}